body {
  background-color: #393E46;
  text-align: center;
  line-height: 1.5;
  color: #4ECCA3;
}

.container-fluid {
  width: 75%;
}

.heading {
  font-family: 'Lobster', cursive;
  font-size: 8rem;
  text-shadow: 3px 3px black;
  margin: 3% 2% 2%;
}

.direction {
  font-family: cursive;
  padding-top: 2%;
  font-weight: 200;
  font-size: 1rem;
}

.row {
  position: relative;
  padding: 2% 10%;
}

p{
  padding-top: 3%;
}

.dice {
  font-family: 'Indie Flower', cursive;
  font-weight: bold;
  font-size: 2rem;
}

img {
  width: 50%;
}

.copyright {
  margin-top: 2%;
  font-family: 'Indie Flower', cursive;
  color: white;
  font-size: 0.75rem;
}

@media (max-width: 960px) {
  .heading {
    font-family: 'Lobster', cursive;
    font-size: 5rem;
    color: #4ECCA3;
    text-shadow: 3px 3px black;
    margin: 1% 0.5% 1%;
  }

  .dice {
    font-family: 'Indie Flower', cursive;
    font-weight: bold;
    font-size: 1.5rem;
    line-height: 1.5;
    color: #4ECCA3;
  }
}

@media (max-width: 960px) {
  .heading {
    font-size: 5rem;
    margin: 1% 0.5% 1%;
  }

  .direction{
    font-size: 0.7rem;
  }

  .dice {
    font-size: 1.5rem;
  }
}

@media (max-width: 720px) {
  .heading {
    font-size: 3rem;
    margin: 1% 0.5% 1%;
  }

  .direction{
    font-size: 0.7rem;
  }

  .dice {
    font-size: 1rem;
  }
}
